# Project

#### Libs

In [83]:
import pandas as pd

#### Reading .xlsx

In [87]:
excel = pd.read_excel('./loja.xlsx')

orderIds = excel['Order ID']
subCategory = excel['Sub-Category']

subCategory = pd.DataFrame(subCategory)
orderIds = pd.DataFrame(orderIds)


display(orderIds.head())
display(subCategory.head())

         Order ID
0  CA-2016-152156
1  CA-2016-152156
2  CA-2016-138688
3  US-2015-108966
4  US-2015-108966

  Sub-Category
0    Bookcases
1       Chairs
2       Labels
3       Tables
4      Storage

#### Removing duplicates from Sub-Categorys

In [104]:
removeDups = excel.drop_duplicates(subset=['Sub-Category','Order ID'],keep='first')

print(removeDups.value_counts('Sub-Category'))

#Ex 1
#Binders tem mais probabilidade de ser recomendado caso o carrinho esteja vazio

Sub-Category
Binders        1316
Paper          1191
Furnishings     877
Phones          814
Storage         777
Art             731
Accessories     718
Chairs          576
Appliances      451
Labels          346
Tables          307
Envelopes       249
Bookcases       224
Fasteners       215
Supplies        187
Machines        112
Copiers          68
Name: count, dtype: int64