# Project

#### Responses 

<p>
    EX 1 :
    Binders are the most popular Sub-Category, Binders has the 14,3% of buy with a void marketkart
</p>

### A FAZER 
##### *Mudar para dict o getting probabilities

#### Libs

In [1]:
import pandas as pd

#### Reading .xlsx

In [65]:
excel = pd.read_excel('./loja.xlsx')

orderIds = excel['Order ID']
subCategory = excel['Sub-Category']

subCategory = pd.DataFrame(subCategory)
orderIds = pd.DataFrame(orderIds)


display(orderIds.head())
display(subCategory.head())

         Order ID
0  CA-2016-152156
1  CA-2016-152156
2  CA-2016-138688
3  US-2015-108966
4  US-2015-108966

  Sub-Category
0    Bookcases
1       Chairs
2       Labels
3       Tables
4      Storage

#### Removing duplicates from Sub-Categorys

In [24]:
removeCategoryDups = excel.drop_duplicates(subset=['Sub-Category','Order ID'],keep='first').value_counts('Sub-Category')

display(removeCategoryDups)

Sub-Category
Binders        1316
Paper          1191
Furnishings     877
Phones          814
Storage         777
Art             731
Accessories     718
Chairs          576
Appliances      451
Labels          346
Tables          307
Envelopes       249
Bookcases       224
Fasteners       215
Supplies        187
Machines        112
Copiers          68
Name: count, dtype: int64

#### Countting all the products

In [25]:
result = 0
for value in removeCategoryDups:
    result+=value

print(result)

9159

#### Getting the odds

In [64]:
propabilityArray = []
for c in removeCategoryDups:
    propability = c / result
    propabilityArray.append(propability*100)

for c in propabilityArray:
    print(c)


#EX 1 
#Binders are the most popular Sub-Category, Binders has the 14,3% of buy with a void marketkart

14.368380827601266
13.003603013429412
9.57528114422972
8.887433125887105
8.483458892892237
7.981220657276995
7.839283764603122
6.288896167703897
4.9241183535320445
3.7777049896276886
3.3518943116060704
2.718637405830331
2.44568184299596
2.3474178403755865
2.041707610001092
1.22284092149798
0.742439130909488